doctype html
html
  head
    title= title
    script(src='/javascripts/vendor/jquery-1.7.1.min.js')
    script(src='/javascripts/vendor/jquery.mousewheel-min.js')
    script(src='/javascripts/vendor/jquery.terminal.min.js')
    script(src='/javascripts/Environment.js')
    script(src='/javascripts/JsLisp.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vendor/jquery.terminal.css')
  body
    block content
    script(src='/javascripts/main.js')
